.contenedor2 {
    width: 110rem;
    margin: 0 auto;

    >h2 {
        text-align: center;
        margin-top: 10rem;
    }
}

.productos {
    display: flex;
    flex-wrap: wrap;
    font-size: 11pt;
    justify-content: space-between;

    .imagen-producto {
        img {
            width: 100%;
            height: 30rem;
        }
    }

    .producto {
        flex-basis: calc(30%);
        margin: 1rem 0rem 4rem 0rem;
        border: solid .1rem $color-principal;
    }

    .descripcion-producto {
        line-height: 2.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;

        >h2 {
            line-height: 3.2rem;
        }

        .precio {
            padding: 1rem;
            font-weight: 700;
            margin: 0;
        }
    }
}

@media (max-width: 1200px) {
    .contenedor2 {
        width: 90%
    }
}

@media (max-width: 880px) {
    .productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 455px) {
    .productos {
        grid-template-columns: repeat(1, 1fr);

        .producto {
            display: flex;
            flex-direction: column;
            align-items: center;
            .boton{
                width: 100%;
            }
        }
    }
}

.ver-mas {
    display: flex;
    justify-content: center;

    a {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 20rem;
    }
}